<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Hỏi Dân IT - Dự án laptopshop" />
    <meta name="author" content="Hỏi Dân IT" />
    <title>Create Product</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="/admin/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>
      $(document).ready(() => {
        const avatarFile = $("#avatarFile");
        avatarFile.change(function (e) {
          const imgURL = URL.createObjectURL(e.target.files[0]);
          $("#avatarPreview").attr("src", imgURL);
          $("#avatarPreview").css({ display: "block" });
        });
      });
    </script>
  </head>

  <body class="sb-nav-fixed">
    <%- include('../layout/header'); -%>
    <div id="layoutSidenav">
      <%- include('../layout/sidenav'); -%>
      <div id="layoutSidenav_content">
        <div class="container-fluid px-4">
          <h1 class="mt-4">Product Infor</h1>
          <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
            <li class="breadcrumb-item active">
              <a href="/admin/product">Products</a>
            </li>
          </ol>
          <div class="row">
            <div class="col-6 mx-auto">
              <div style="width: 600px; margin: auto">
                <h3 style="padding: 10px 0">Create New Product</h3>
                <form action="/admin/update-product" method="post" enctype="multipart/form-data">
                  <input type="text" name="id" value="<%- product.id %>" style="display: none;">
                  <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input type="text" name="name" class="form-control" value="<%= product.name %>" />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Price</label>
                    <input type="number" name="price" class="form-control" value="<%= product.price %>" />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Detail Description</label>
                    <textarea name="detailDesc" class="form-control" rows="2"><%= product.detailDesc %></textarea>
                  </div>
                  <div class="row">
                    <div class="mb-3 col-6">
                      <label class="form-label">Short Description</label>
                      <input type="text" class="form-control" name="shortDesc" value="<%= product.shortDesc %>" />
                    </div>
                    <div class="mb-3 col-6">
                      <label class="form-label">Quantity</label>
                      <input type="number" class="form-control" name="quantity" value="<%= product.quantity %>" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="mb-3 col-6">
                      <label class="form-label">Factory</label>
                      <select name="factory" class="form-select">
                        <% factoryOptions.forEach((factory) => { %>
                        <option value="<%- factory.value %>" <%= factory.value === product.factory ? "selected" : '' %> ><%= factory.name %></option>
                        <% }) %>
                      </select>
                    </div>
                    <div class="mb-3 col-6">
                      <label class="form-label">Target</label>
                      <select name="target" class="form-select">
                        <% targetOptions.forEach((target) => { %>
                        <option value="<%- target.value %>" <%= target.value === product.target ? "selected" : '' %> ><%= target.name %></option>
                        <% }) %>
                      </select>
                    </div>
                  </div>

                  <div class="mb-3">
                    <label for="formFile" class="form-label">Image</label>
                    <input name="image" class="form-control" type="file" id="avatarFile" accept=".png, .jpg, .jpeg" />
                  </div>
                  <% if (product.image) { %>
                  <img
                    style="max-height: 250px; display: block"
                    alt="avatar preview"
                    id="avatarPreview"
                    src="/images/product/<%= product.image %>"
                  />
                  <% } else { %>
                    <img
                    style="max-height: 250px; display: none"
                    alt="avatar preview"
                    id="avatarPreview"
                    />
                  <% } %>
                  <div class="mb-3">
                    <button class="btn btn-danger">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <%- include('../layout/footer') -%>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
